<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="data.com.datacollector">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true">
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <activity
            android:name=".view.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.SensorService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".receiver.DataCollectReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.NotificationReceiver" />

        <service
            android:name=".service.LeBLEService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".view.CurrentLabelActivity"
            android:label="@string/title_activity_current_label"
            android:theme="@style/Theme.Wearable.Modal" />
        <activity
            android:name=".view.ReminderTimeConfigActivity"
            android:label="@string/title_activity_reminder_time_config"
            android:theme="@style/Theme.Wearable.Modal" />
        <activity
            android:name=".view.feedback_ui.UserFeedbackQuestion"
            android:label="@string/title_activity_user_feedback"
            android:theme="@style/Theme.Wearable.Modal" />
        <activity
            android:name=".view.feedback_ui.UserFeedbackGroundTruth"
            android:label="@string/title_activity_user_feedback_ground_truth"
            android:theme="@style/Theme.Wearable.Modal" />
        <activity
            android:name=".view.diet_annotation_ui.AnnotationMainActivity"
            android:label="@string/title_activity_annotation_activity" />
        <activity
            android:name=".view.diet_annotation_ui.DetailsMainActivity"
            android:label="@string/title_activity_details_main" />
        <activity
            android:name=".view.diet_annotation_ui.DetailsMainActivity2"
            android:label="@string/title_activity_details_main2"></activity>
    </application>

</manifest>